@using web.core.Extensions
@model IEnumerable<web.core.Models.ProductsModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->

        <div class="portlet box light-grey">

            <div class="portlet-body">

                <div class="clearfix">

                    <div class="btn-group">

                        <button id="sample_editable_1_new" class="btn yellow">

                            Add New <i class="icon-plus"></i>

                        </button>

                    </div>

                </div>

                <table class="table table-striped table-bordered table-hover" id="sample_1">

                    <thead>

                        <tr>

                            <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>

                            <th>
                                @Html.DisplayNameFor(model => model.ProductID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QuantityPerUnit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReorderLevel)
                            </th>
                            <th class="hidden-480">
                                @Html.DisplayNameFor(model => model.Discontinued)
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr class="odd gradeX">

                                <td><input type="checkbox" class="checkboxes" value="1" /></td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Suppliers.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Categories.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Discontinued)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { productid = item.ProductID }, new { @class = "details" })
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { productid = item.ProductID }, new { @class = "edit" })
                                </td>
                                <td>@Html.ActionLink("Delete", "Delete", new { productid = item.ProductID }, new { @class = "delete" })</td>
                            </tr>

                        }

                    </tbody>

                </table>

            </div>

        </div>

        <!-- END EXAMPLE TABLE PORTLET-->

    </div>

</div>
@section Head{
    <!-- BEGIN PAGE LEVEL STYLES -->
    @Html.StyleSheet("metronic.bootstrap/css/select2_metro.css")
    @Html.StyleSheet("metronic.bootstrap/css/DT_bootstrap.css")
    <!-- END PAGE LEVEL STYLES -->
}
@section Script{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @Html.JavaScript("metronic.bootstrap/js/select2.min.js")
    @*@Html.JavaScript("metronic.bootstrap/js/jquery.dataTables.js")
        @Html.JavaScript("metronic.bootstrap/js/DT_bootstrap.js")*@
    <!-- END PAGE LEVEL PLUGINS -->
    @Html.JavaScript("metronic.bootstrap/js/table-managed.js")

    <script type="text/javascript">

        jQuery(document).ready(function () {

            App.init();

            TableManaged.init();

        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#sample_editable_1_new").click(function () {
                location.href = "/PRD/Product/Create";
            });
        });
    </script>
}