@model IEnumerable<web.core.Models.ProductsModel>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<!-- BEGIN PAGE HEADER-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

        <h3 class="page-title">

            Products <small>List</small>

        </h3>

        <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="index.html">Home</a>

                <i class="icon-angle-right"></i>

            </li>

            <li>

                <a href="#">Layouts</a>

                <i class="icon-angle-right"></i>

            </li>

            <li><a href="#">Blank Page</a></li>

        </ul>

        <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

</div>

<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SupplierID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuantityPerUnit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitsInStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitsOnOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReorderLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Discontinued)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                    {
                    <tr>
                        <td>@(i++)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitsInStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReorderLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discontinued)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { productid = item.ProductID }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

<!-- END PAGE CONTENT-->
