@using web.core.Extensions
@model IEnumerable<web.core.Models.ProductsModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <a href="/PRD/Product/Create" class="btn blue">Create</a><span class="label label-info">Featured</span>
            </div>
            <div class="widget-content ">
                <table class="table table-bordered table-striped with-check">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QuantityPerUnit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReorderLevel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Discontinued)
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX">
                                <td><input type="checkbox" class="checkboxes" value="1" /></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Suppliers.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Categories.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Discontinued)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { productid = item.ProductID }, new { @class = "details" })
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { productid = item.ProductID }, new { @class = "edit" })
                                </td>
                                <td>@Html.ActionLink("Delete", "Delete", new { productid = item.ProductID }, new { @class = "delete" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

@section Script{
    <script type="text/javascript">
        $(function () {
            $("#sample_editable_1_new").click(function () {
                location.href = "/PRD/Product/Create";
            });
        });
    </script>
}