@using web.core.Extensions
@model web.core.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap 样式 -->
    @Html.StyleSheet("metronic.bootstrap/css/bootstrap.min.css")

    <link href="/content/metronic.bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="/content/metronic.bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="/content/metronic.bootstrap/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="/content/metronic.bootstrap/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="/content/metronic.bootstrap/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="/content/metronic.bootstrap/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="/content/metronic.bootstrap/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->

    <link href="/content/metronic.bootstrap/css/login.css" rel="stylesheet" type="text/css"/>

    <!-- END PAGE LEVEL STYLES -->

    <link rel="shortcut icon" href="/content/metronic.bootstrap/image/favicon.ico" />

</head>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}


<body class="login">

    <!-- BEGIN LOGO -->

    <div class="logo">

        <img src="media/image/logo-big.png" alt="" /> 

    </div>

    <!-- END LOGO -->

    <!-- BEGIN LOGIN -->

    <div class="content">

        <!-- BEGIN LOGIN FORM -->

        <form class="form-vertical login-form" action="index.html">

            <h3 class="form-title">Login to your account</h3>

            <div class="alert alert-error hide">

                <button class="close" data-dismiss="alert"></button>

                <span>Enter any username and password.</span>

            </div>

            <div class="control-group">

                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

                <label class="control-label visible-ie8 visible-ie9">Username</label>

                <div class="controls">

                    <div class="input-icon left">

                        <i class="icon-user"></i>

                        <input class="m-wrap placeholder-no-fix" type="text" placeholder="Username" name="username"/>

                    </div>

                </div>

            </div>

            <div class="control-group">

                <label class="control-label visible-ie8 visible-ie9">Password</label>

                <div class="controls">

                    <div class="input-icon left">

                        <i class="icon-lock"></i>

                        <input class="m-wrap placeholder-no-fix" type="password" placeholder="Password" name="password"/>

                    </div>

                </div>

            </div>

            <div class="form-actions">

                <label class="checkbox">

                <input type="checkbox" name="remember" value="1"/> Remember me

                </label>

                <button type="submit" class="btn green pull-right">

                Login <i class="m-icon-swapright m-icon-white"></i>

                </button>            

            </div>

            <div class="forget-password">

                <h4>Forgot your password ?</h4>

                <p>

                    no worries, click <a href="javascript:;" class="" id="forget-password">here</a>

                    to reset your password.

                </p>

            </div>

            <div class="create-account">

                <p>

                    Don't have an account yet ?&nbsp; 

                    <a href="javascript:;" id="register-btn" class="">Create an account</a>

                </p>

            </div>

        </form>

        <!-- END LOGIN FORM -->    
    </div>

    <!-- END LOGIN -->

    <!-- BEGIN COPYRIGHT -->

    <div class="copyright">

        2013 &copy; Metronic. Admin Dashboard Template.

    </div>

    @Html.JavaScript("jquery/jquery.min.js")
    @Html.JavaScript("metronic.bootstrap/js/bootstrap.min.js")
</body>
<!-- END BODY -->
</html>