@using web.core.Extensions
@model web.core.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @*@Html.StyleSheet("matrix-admin/css/bootstrap.min.css")
    @Html.StyleSheet("matrix-admin/css/bootstrap-responsive.min.css")
    @Html.StyleSheet("matrix-admin/css/matrix-login.css")
    @Html.StyleSheet("matrix-admin/font-awesome/css/font-awesome.css")*@
</head>
<body>
    <div id="loginbox">
        @using (Html.BeginForm("Login", "Default", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical login-form", @id = "loginform" }))
        {
            @Html.AntiForgeryToken()
            <div class="control-group normal_text"> <h3>NORTHWIND</h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "m-wrap placeholder-no-fix", placeholder = "UserName" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "m-wrap placeholder-no-fix", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">Lost password?</a></span>
                <span class="pull-right">
                    <button type="submit" class="btn green btn-success">
                        Login <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </span>
            </div>
        }
    </div>
    @Html.JavaScript("matrix-admin/js/jquery.min.js")
    @Html.JavaScript("matrix-admin/js/jquery.validate.js")
    @Html.JavaScript("metronic.bootstrap/js/jquery.validate.unobtrusive.min.js")
    @Html.JavaScript("matrix-admin/js/matrix.login.js")
</body>
<!-- END BODY -->
</html>