@model IEnumerable<beango.model.RoleAuth>
@{
    ViewBag.Title = "RoleAuth";
    var Auths = TempData["auths"] as List<beango.model.Auth>;
    var role = TempData["role"] as beango.model.Role;
}
<h2 style="float: left;">
    RoleAuth</h2>
<p style="position: relative; height: 36px;">
    @Html.ActionLink("Create New", "Create", null, new { style = "position:absolute; margin-left:10px; bottom:6px;" })
</p>
@using (Html.BeginForm("RoleAuthSubmit", "Role", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("roleid", role.RoleID)
    @Html.Raw(role.RoleName)
    <table class="table table-striped">
        <tr>
            <th style="width: 30px;">
            </th>
            <th>
                权限名称
            </th>
            <th>
            </th>
        </tr>
        @if (Auths != null)
        {
            foreach (var item in Auths)
            {
                <tr>
                    <td>
                        @Html.CheckBox("chkChecked"+item.AuthID.ToString(), Model != null && Model.Any(obj => obj.AuthID == item.AuthID), new {groupname = "chkauths"})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthName)
                    </td>
                    <td>
                        @* @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                    </td>
                </tr>
            }
        }
    </table>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            保存更改</button>
        <button class="btn" onclick="location.href='/Role/List';return false;">
            取消</button>
    </div>
}