@using web.core.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>@ViewBag.Title</title>
    <!-- bootstrap & fontawesome -->
    @Html.StyleSheet("content/ace/assets/css/bootstrap.min.css")
    @Html.StyleSheet("content/ace/assets/css/font-awesome.min.css")

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    @Html.StyleSheet("content/ace/assets/css/ace-fonts.css")

    <!-- ace styles -->
    @Html.StyleSheet("content/ace/assets/css/ace.min.css")

    <!--[if lte IE 9]>
        @Html.StyleSheet("content/ace/assets/css/ace-part2.min.css")
    <![endif]-->
    @Html.StyleSheet("content/ace/assets/css/ace-skins.min.css")
    @Html.StyleSheet("content/ace/assets/css/ace-rtl.min.css")

    <!--[if lte IE 9]>
      Html.StyleSheet("content/ace/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    @Html.StyleSheet("content/ace/assets/js/ace-extra.min.js")

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    @Html.StyleSheet("content/ace/assets/js/html5shiv.min.js")
    @Html.StyleSheet("content/ace/assets/js/respond.min.js")
    <![endif]-->
    @RenderSection("Head", false)
</head>
<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    @Html.Partial("Head")

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <!-- #section:basics/sidebar -->
        @Html.Partial("Left")

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            @RenderBody()
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Ace</span>
                        Application &copy; 2013-2014
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

    <!-- basic scripts -->
    <!--[if !IE]> -->
    @Html.JavaScript("content/ace/assets/js/jquery.min.js")
    <!-- <![endif]-->
    <!--[if IE]>
    @Html.JavaScript("content/ace/assets/js/jquery1x.min.js")
    <![endif]-->
    @Html.JavaScript("content/ace/assets/js/jquery.mobile.custom.min.js")
    @Html.JavaScript("content/ace/assets/js/bootstrap.min.js")

    @RenderSection("Script", false)
</body>
</html>
