@using web.core.Extensions
@{
    Layout = null;
} 
<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>@ViewBag.Title</title>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Html.StyleSheet("matrix-admin/css/bootstrap.min.css")
    @Html.StyleSheet("matrix-admin/css/bootstrap-responsive.min.css")
    @Html.StyleSheet("matrix-admin/css/fullcalendar.css")
    @Html.StyleSheet("matrix-admin/css/matrix-style.css")
    @Html.StyleSheet("matrix-admin/css/matrix-media.css")
    @Html.StyleSheet("matrix-admin/font-awesome/css/font-awesome.css")
    @Html.StyleSheet("matrix-admin/css/jquery.gritter.css")
    <!-- END GLOBAL MANDATORY STYLES -->
    @RenderSection("Head", false)
</head>
<body>
    
    @Html.Partial("Head")
    
    @Html.Partial("Left")

    <!--main-container-part-->
    <div id="content">
        
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a><a href="#" class="current">Tables</a></div>
        </div>
        <!--End-breadcrumbs-->
        <!--Action boxes-->
        <div class="container-fluid">
            @RenderBody()
            <!--End-Action boxes-->
        </div>
    </div>

    <!--end-main-container-part-->
    <!--Footer-part-->

    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
    </div>

    <!--end-Footer-part-->
    @Html.JavaScript("matrix-admin/js/excanvas.min.js")
    @Html.JavaScript("matrix-admin/js/jquery.min.js")
    @Html.JavaScript("matrix-admin/js/jquery.ui.custom.js")
    @Html.JavaScript("matrix-admin/js/bootstrap.min.js")
    @Html.JavaScript("matrix-admin/js/jquery.flot.min.js")
    @Html.JavaScript("matrix-admin/js/jquery.flot.resize.min.js")
    @Html.JavaScript("matrix-admin/js/jquery.peity.min.js")
    @Html.JavaScript("matrix-admin/js/fullcalendar.min.js")
    @Html.JavaScript("matrix-admin/js/matrix.js")
    @Html.JavaScript("matrix-admin/js/matrix.dashboard.js")
    @Html.JavaScript("matrix-admin/js/jquery.gritter.min.js")
    @Html.JavaScript("matrix-admin/js/matrix.interface.js")
    @Html.JavaScript("matrix-admin/js/matrix.chat.js")
    @Html.JavaScript("matrix-admin/js/jquery.validate.js")
    @Html.JavaScript("matrix-admin/js/matrix.form_validation.js")
    @Html.JavaScript("matrix-admin/js/jquery.wizard.js")
    @Html.JavaScript("matrix-admin/js/jquery.uniform.js")
    @Html.JavaScript("matrix-admin/js/select2.min.js")
    @Html.JavaScript("matrix-admin/js/matrix.popover.js")
    @Html.JavaScript("matrix-admin/js/jquery.dataTables.min.js")
    @Html.JavaScript("matrix-admin/js/matrix.tables.js") 
    @RenderSection("Script", false)
</body>
</html>
